{# {% extends 'base.html.twig' %}

{% block body %}
    <h1>Transactions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td><a href="{{ path('transactions_show', { 'id': transaction.id }) }}">{{ transaction.id }}</a></td>
                <td>{% if transaction.date %}{{ transaction.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ transaction.amount }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('transactions_show', { 'id': transaction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('transactions_edit', { 'id': transaction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('transactions_new') }}">Create a new transaction</a>
        </li>
    </ul>
{% endblock %} #}
{{ transactions|json_encode() }}
