{% extends '@SbSAdminLTE/Layout/base.html.twig' %}

{% block page_content %}
    <h1>Account edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-warning" style="float: right;"/>
    {{ form_end(edit_form) }}

    <br>
    <div class="col-md-2 pull-left">
<table class ="table table-bordered text-center">
<tbody>
    <tr>
    <td>
            <a href="{{ path('accounts_index') }}" class="btn btn-info">Back to the list</a>
    </td>
    <td>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
    </td>
</tbody>
</table>
</div>
        
{% endblock %}
